.satya{
    font-family: 'PT Sans',sans-serif;
    background-color: #252529;
    margin: 0;
    color: #fff;
    line-height: 1.6;
}
a{
    text-decoration: none;
    color: brown;
    
    
    
}



#showcase{
    background: url("https://static8.depositphotos.com/1007347/989/v/600/depositphotos_9891014-stock-illustration-green-runner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.container{
   text-align: center;
   margin: auto;
}
#showcase h1{
    font-size: 50px;
     margin-bottom: 0; 
     padding-top: 80px;
}
#showcase h2{
    font-size: 30px;
}
.hide{
    font-size: 17px;
    margin-left: 60px;
    margin-right: 60px;
    
}
nav{
    height: 40px;
    width: 100%;
    background-color:rgb(191, 180, 134);
    position:fixed;
    padding-top: 0px;

}
.cf{
    position:fixed;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    display: inline;
    float: left;
}
nav a{
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 10px 0;
}
nav li:hover{
    background-color:rgb(204, 187, 121);
    font-size: 20px;

}

footer .footer-cols{
   display: grid;
   grid-gap: 20px;
   grid-template-columns: repeat(4,1fr);
   text-align: left;
   font-size: 14px;
}
footer .footer-cols ul{
    list-style: none;
}
footer .footer-cols ul li:first-child{
    font-size: 18px;
    padding-bottom: 17px;
    border-bottom: #444 solid 1px;
    margin-bottom: 10px;
}
.container .footer-cols ul li a{
    color: white;
}
.footer-bottom{
    background-color: #333;
    padding:1rem;
    text-align: center;
}
.me{
    width=30%;
    height: 25%;
}
.column{
    margin-top: 150px;
}
#me{
    background-color: burlywood;
    text-align: center;
    font-size: 40px;
    
}
.ram{
    background: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.lucky{
            
    background-image: url("https://wallpapercave.com/wp/wp3458022.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#mine{
   margin-top: 10px;
    background-color: burlywood;
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    
}
.rat{
     margin-left: 10px;
     width: 60%;
     font-size: 20px;
     float: left;
     text-align: justify;

}



table,th,td{
    
    border: 2px solid palevioletred;
    border-collapse: collapse;
    margin-left: 10px;
    
}
th,td{
    padding: 8px;
}
.hor{
    margin-left: 10px;
    line-height: 3;
}
